* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.navBar {
  background-color: #016efc;
  padding: 58px 0 71px 0;
}

.activeNavBar {
  top: 0;
}

.navBar_content {
  display: flex;
}

.navBar_link {
  margin-left: 82px;
  margin-top: 77px;
}

.navBar_link_indent {
  margin-bottom: 22px;
}

.navBar_link_style {
  text-decoration: none;
  cursor: pointer;
}

.activeLink {
  color: orange;
}

.navBar_button img {
  cursor: pointer;
}
